<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <img src="assets/img/personal-images/marija.png" class="img-thumbnail" alt="Thumbnail Image" />
        <br>
        <br>
        <br>
        
<p>
    Tel: 065/918-342 <br>
Email: marijadz.eureka@gmail.com
</p>

    </div>
    <div class="col-lg-8">
        <p class="bio-header">
            Marija Džinkić
            </p>
        <p class="bio-content">
    <strong>magistar psihologije, Praktičar TA u edukaciji za Savjetnika TA pod supervizijom </strong> <br>

<strong> Način rada: susret uživo i online savjetovanje preko Skype-a. </strong> <br> <br>
<strong> Obrazovanje i radno iskustvo: </strong> <br>
Zvanje magistar psihologije stekla sam na Filozofskom Fakultetu, na Univerzitetu Istočno Sarajevo.
 Trenutno sam na nivou Praktičara TA u edukaciji za Savjetnika TA pod supervizijom ( International Transactional analysis academy).
  Zaposlena sam u Kompaniji "Boksit" a.d. Milići, na poslovima organizacijskog psihologa. <br> <br>
  U Banja Luci sam položila stručni ispit iz oblasti kliničke psihologije za zdravstvenog saradnika,
   te trenutno obavljam i poslove psihologa u medicini rada u Specijalističkom Centru Kompanije Boksit u Milićima. 
   <br> <br> 
   <strong> Moj pristup pomoći i podrške kroz TA:  </strong> <br>
"Samo je jedan kutak svemira koji sigurno možete promeniti, a to ste vi sami" . <br> <br>
U radu sa klijentima vodim se konceptima TA po kojima je svaka osoba sposobna da odlučuje o svojim ponašanjima,
 mislima i osjećanjima. Svaki čovjek je sposoban da misli, stoga je svaki čovjek u stanju da odluči šta želi od svog života.
  Savjetodavni rad/psihoterapija jeste način da bolje spoznamo sebe, sopstvene snage i kapacitete, i da na taj način poboljšamo kvalitet života.
  <br> <br>
   U radu nastojim motivisati klijente na promjene. Svako od nas susreo se sa raznim životnim teškoćama, koje sa sobom nose brige,
    razočarenja, gubitke, sukobe, usamljenost i mnoga druga negativna osjećanja, pri čemu svako pokušava da se sa istim izbori na svoj način, 
    u čemu nekad uspije, a nekad ne. Veoma je bitno sebi olakšati ovaj put - psihoterapija je jedan od načina prevazilaženja teškoća i
     efikasnog rješavanja problema, a njen cilj jeste da pomogne ljudima da ostvare ličnu promjenu, veći uvid u sopstvna ponašanja, 
     emocije i razmišljanja, kao i lični rast i razvoj.
     <br> <br>
<strong> Započnimo zajedno put ka pozitivnoj promjeni. </strong>




        </p>


    </div>
</div>