<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <img src="assets/img/personal-images/aljosa.png" class="img-thumbnail" alt="Thumbnail Image" />
        <br>
        <br>
        <br>
        
<p>
    Tel: +387 61 587 649 <br>
Email: aljosa.eureka@gmail.com
</p>

    </div>
    <div class="col-lg-8">
        <p class="bio-header">
            Aljoša Lješić
            </p>
        <p class="bio-content">
    <strong>    Bachelor psihologije, supervizor volonterima u Udruženju za prevenciju ovisnosti „Narko Ne“, Praktičar TA u edukaciji za Savjetnika TA pod supervizijom </strong> <br>
<br>
<strong> Moj pogled na pristup pomoći i podrške kroz TA </strong> <br>
U psihoterapijskom i savjetodavnom radu je prvenstveno važno njegovati odnos povjerenja sa klijentom, koji je protkan suosjećanjem i razumijevanjem. Važno je da se uspostavi saradnja sa klijentom, koja će pomoći u identificiranju i otklanjanju psiholoških poteškoća. Cilj psihoterapijskog i savjetodavnog rada je da klijent izgradi stabilnu i pozitivnu sliku o sebi, te da ima racionalna uvjerenja, koja će mu pomoći da snažno korača kroz život. 
Klijentima nudim bezuvjetno razumijevanje, empatiju i racionalno rasuđivanje, te korisne tehnike i savjete koje će im pomoći da probleme sagledaju iz drugog gledišta, te da imaju potencijalna rješenja poteškoća, koje život za sobom nosi. Nekada je potrebno tako malo da budete zadovoljni i sretni i zajedno ćemo otkriti kako da dosegnemo to „malo“. 
<br>
Način rada, vrijeme i mjesto rada: Susreti uživo i online savjetovanje preko Skype-a
<br> <br>
<strong> Obrazovanje </strong> <br>
•  bachelor psihologije, Filozofski fakultet Univerziteta u Sarajevu, Odsjek za psihologiju (2016),
 a trenutno na master studiju Filozofskog fakulteta Univerziteta u Sarajevu, Odsjek za psihologiju  <br>

•  savjetnik transakcione analize pod supervizijom, International Transactional analysis academy (2017. – trenutno) <br><br>

<strong> Radno iskustvo, seminari i edukacije: </strong> <br>
• 2016. – trenutno, Udruženje za prevenciju ovisnosti „Narko Ne“
Supervizor volonterima projekta „Darujmo im vrijeme umjesto novac“; procjena kompetencija volontera; pomoć pri ostvarenju potencijala volontera; edukacija i održavanje radionica u oblasti nenasilne komunikacije, neverbalne komunikacije, osobnog razvoja i rada sa djecom u riziku
<br>

• 2015. – 2015. Udruženje za prevenciju ovisnosti „Narko Ne“
Volonter u radu sa djecom u riziku u „Službi za zbrinjavanje djece u stanju potrebe“; mentorski rad sa djecom
<br>
• 2011. – 2015. Udruženje studenata psihologije „Sinapsa“
Volonter na projektu „Istraživačka sekcija“; učestvovanje u pisanju priručnika za SPSS (SPSS priručnik, 2013); asistiranje u SPSS radionici
<br>
<br> 
<strong> Seminari i edukacije: </strong> <br>

• 2016.-2016. Certifikat naprednog treninga „Psihologija laganja – detekcija laži i neverbalne komunikacije“<br>
• 2015. – trenutno Certifikat „Praktičar transakcione analize“ (International Transactional analysis academy)<br>
        </p>


    </div>
</div>