<h3> Kontakti su dostupni i u našim biografijama, kao i više informacija o nama. 
    Obvezujemo se odgovoriti na vaše upite u roku od 7 dana. </h3>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <table id="contact-table" class="table">
                <thead>
                    <th>Ime i prezime</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Amela Karkelja </td>
                        <td><i class="fa fa-envelope fa-fw"></i> amela.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  061/234-817</td>
                    </tr>

                    <tr>
                        <td>Aljoša Lješić</td>
                        <td><i class="fa fa-envelope fa-fw"></i> aljosa.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  061/587-649</td>
                    </tr>
                    <tr>
                        <td>Ilvana Lonić </td>
                        <td><i class="fa fa-envelope fa-fw"></i> ilvana.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  062/093-790</td>
                    </tr>
                    <tr>
                        <td>Jasmina Mihojević</td>
                        <td><i class="fa fa-envelope fa-fw"></i> jasmina.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  063/556-781</td>
                    </tr>
                    <tr>
                        <td>Klaudija Ribić</td>
                        <td><i class="fa fa-envelope fa-fw"></i> klaudija.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  063/556-781</td>
                    </tr>
                    <tr>
                        <td>Ljiljana Purković</td>
                        <td><i class="fa fa-envelope fa-fw"></i> ljiljana.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  066/789-331</td>
                    </tr>
                    <tr>
                        <td>Maja Vujičić</td>
                        <td><i class="fa fa-envelope fa-fw"></i> maja.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  066/821-427</td>
                    </tr>
                    <tr>
                        <td>Marija Dzinkić</td>
                        <td><i class="fa fa-envelope fa-fw"></i> marijadz.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  065/918-342</td>
                    </tr>
                    <tr>
                        <td>Marija Dzinkić</td>
                        <td><i class="fa fa-envelope fa-fw"></i> naida.eureka@gmail.com</td>
                        <td><i class="fa fa-phone-square"></i>  061/684-9767</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>