<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <img src="assets/img/personal-images/naida.png" class="img-thumbnail" alt="Thumbnail Image" />
        <br>
        <br>
        <br>
        
<p>
    Tel: +387 61 684 976 <br>
Email: naidapervan.eureka@gmail.com
</p>

    </div>
    <div class="col-lg-8">
        <p class="bio-header">
            Naida Pervan
            </p>
        <p class="bio-content">
    <strong>dipl. psihologinja, savjetnica za ljudske potencijale, Praktičar TA u edukaciji za Savjetnika TA pod supervizijom </strong> <br>

<strong> Način rada i vrijeme rada: Susreti uživo u periodu poslije 18:00h </strong> <br> <br>

<strong> Moj pogled na pristup pomoći i podrške kroz TA: </strong> <br>
„Svako živo biće rađa se kao novo, različito od svega što je ikad postojalo.
 Svako je rođen sa mogućnošću da bude pobjednik u životu. Svako može biti značajno, misleće, 
 svjesno i kreativno biće – produktivan čovjek i pobjednik“. Ovako između ostalog počinje meni omiljena 
 knjiga “Životni pobjednik“ (Mjurijel Džejms i Doroti Džongvard). Veoma često funkcionišemo po principu
  maštanja da će nam život biti divan „jednom kad“: „Kad konačno dođe onaj pravi/a, kad se završi škola,
   kad nađem novi posao, kad budem imao/la drugog šefa, kad dođe mojih pet minuta...“ ili 
   prizivamo bezbroj „šta ako“: „Šta ako izgubim posao, šta ako polomim nogu, šta ako me ne vole,
    šta ako ne budem najbolja, šta ako padnem na ispitu, šta ako pogriješim...“. Fokusirajući svoju pažnju na budućnost
     imamo osjećaj stalnog straha u sadašnjosti. Čini nas anksioznim i tjeskobnim ono što predviđamo – zbog ispita, plaćanja računa,
      ljubavnih nezgoda, kriza, bolesti, lošeg vremena, dešavanja na poslu. Kada smo suviše fokusirani na takve brige onda
       propuštamo aktuelne mogućnosti – ne dozvoljavamo sebi da budemo najbolje verzije sebe. Dešava nam se i da živimo u prošlosti 
       i tugujemo iznova ponavaljući sebi frazu „Samo da“: „Samo da sam oženio neku drugu, samo da sam završila školu, 
       samo da sam zgodnija, samo da je moj muž prestao da pije, samo da sam bio/la bogat/a, samo da sam imao bolje roditelje“.
        Na jedan ili drugi način uništavamo sadašnjost, fokusirajući se ili na uspomene ili na očekivanja od budućnosti. 
        <br> <br>

        Želim da zajedno krenemo na put koji će vas dovesti do onoga što je u vama i što vam je dano po rođenju – do mogućnosti 
        da živite kao pobjednik. Duboko vjerujem da svako od nas – bar u nekom svom aspektu – ima potencijal da bude pobjednik:
         da bude stvarna osoba, svjesna i puna života. Pozivam vas da izaberete transakcionu analizu kako biste se aktivno bavili
          mogućnostima svoje lične promjene. Savjetovanje zasnovano na TA principima efikasan i efektivan je oblik pomoći 
          unutar širokog spektra osobnih, akademskih i poslovnih/profesionalnih poteškoća koje se mogu pojaviti tokom života, 
          studija i radnog odnosa. Najnovija saznanja potvrđuju i dokazuju funkcionalnost mnogobrojnih TA intervencija i procesa
           u postizanju promjene - sticajući uvid u stare obrasce ponašanja, odlučujući se za promjenu i aktivno preduzimajući 
           korake ka postizanju te promjene. 
           <br> <br> 
           <strong> Obrazovanje: </strong> <br>
           • diplomirana psihologinja, Univerzitet u Sarajevu, Filozofski fakultet, Odsjek za psihologiju (2015) <br>
• TA savjetnik pod supervizijom, International Transactional analysis academy (trenutno) <br> 
• NLP praktičar, International association of NLP institutes (2017) <br> <br>
<strong> Radno iskustvo: </strong> <br> 
• 2014. - trenutno, Creativa BH d.o.o.
Savjetnica za ljudske potencijale - edukatorica i konsultantica za ljudske resurse; procjena kompetencija i potencijala zaposlenika i menadžera; razvoj, edukacija i coaching u području 

        </p>


    </div>
</div>