<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <img src="assets/img/personal-images/maja.png" class="img-thumbnail" alt="Thumbnail Image" />
        <br>
        <br>
        <br>
        
<p>
    Tel: 066/821-427
Email: maja.eureka@gmail.com
</p>

    </div>
    <div class="col-lg-8">
        <p class="bio-header">
            Maja Vujičić
            </p>
        <p class="bio-content">
    <strong>psiholog, Praktičar TA u edukaciji za Savjetnika TA pod supervizijom </strong> <br>

<strong> Način rada : uživo i online-Skype </strong> <br> <br>
<strong> Transakciona analiza i pristup u radu  </strong> <br>
Moj pristup u radu se oslanja na transakcionu analizu.Smatram da ne postoji univerzalan pristup i da je svaki klijent
 jedinstvena individua sa svojom životnom pričom, pogledima na sebe, druge i svijet.Savjetodavni rad i psihoterapija 
 služe da se susretnete sa sobom i upoznate sebe ,svoje potencijale i odredite promjene.
 <br> <br> 
 Savjetnik/psihoterapeut je  osoba koja vam pomaže na tom putu.Prije zajedničkog osmišljavanja cilja savjetodavnog rada, najprije podržim i 
 afirmisem sam dolazak na savjetovanje ,a zatim nastojim uspostaviti odnos povjerenja, prihvatanja i razumijevanja.
 Nerijetko, klijent ne treba promjenu, već profesionalnu podršku.TA mi se pokazala kao korisna u radu sa djecom i 
 njihovim roditeljima, kao i odraslim osobama. 
<br> <br> 
<strong> Školovanje i radno iskustvo  </strong> <br>
Diplomirala sam psihologiju 2012.godine, nakon čega sam odradila pripravnički staž i položila stručni ispit 
iz oblasti kliničke psihologije. Od tada, zaposlena sam na radnom mjestu psihologa u Domu zdravlja Foča, 
u službi medicine rada i Centra za mentalno zdravlje.Ono što radim u okviru radnog mjesta su: 
psihodijagnostika/klinička procjena psihičkog funkcionisanja odraslih osoba i djece, 
kao i terapija.Radim sa djecom i odraslima različitih psiholopkih smetnji, od svakodnevnih 
životnih smetnji do težih psihičkih oboljenja.
<br> <br>
Pored redovnih susreta TA u Sarajevu, učestvovala sam na više stručnih seminara i radionica.
Neki od njih su : Kako razumjeti klijentov problem/poremećaj u TA konceptima,Tehnike Transakcione 
analize za rad sa klijentom oboljelim od depresije,Disfunkcionalno ponašanje djece i konstruktivne
 tehnike za rad-sistemska perspektiva,Procjena traume i tretman,Podrška djeci u sukobu sa zakonom i
  postupanje u slučajevima nasilja nad djecom, Psihosocijalni pristup u radu sa žrtvama i niz drugih.

        </p>


    </div>
</div>