<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <img src="assets/img/personal-images/ljiljana.png" class="img-thumbnail" alt="Thumbnail Image" />
        <br>
        <br>
        <br>
        
<p>
    Tel: 057/340-812; 065/789-331 <br>
Email: ljiljana.eureka@gmail.com
</p>
<strong> Način rada:Skajp i lični kontakt </strong> <br>
    </div>
    <div class="col-lg-8">
        <p class="bio-header">
            Ljiljana Purković
            </p>
        <p class="bio-content">
    <strong>pedagog, Praktičar TA u edukaciji za Savjetnika TA pod supervizijom </strong> <br>
<br>
<strong> Obrazovanje i radno iskustvo: </strong> <br>
Po bazičnom obrazovanju sam pedagog. Visokoškolsko zvanje sam stekla 1995.godine u Prištini. 
Imam 16 godina rada isključivo u struci na poziciji stručnog saradnika - pedagoga u osnovnim i srednjim školama.
 Poslednjih pet godina radim na mestu školskog pedagoga u JU Srednja škola „28.juni“ u Istočnom Sarajevu. 
 <br> <br>
 U širokom spektru radnih zadataka najviše vremena posvećujem savetodavnom radu sa decom i njihovim roditeljima.
  Svakodnevno radim sa decom i odraslima u rešavanju različitih vrsta problema koji otežavaju svakodnevno funkcionisanje
   u smislu poboljšanja kvaliteta života. U radu praktikujem najčešće individualni rad- jedan na jedan, a po potrebi i 
   grupni rad kao i pedagoško-psihološke radionice.
Transakciona analiza i pristup u radu.
<br> <br>
TA nudi vrlo efikasane načine pružanja pomoći deci i odraslima.
 Takođe, ona nudi načine samopomoći u smislu sagledavanja problema i osposobljavanja za podizanje kvaliteta 
 života.Dosadašnje moje iskustvo pokazuje da savetodavni rad koji obavljam sa decom i njihovim roditeljima, 
 nikako nije traumatično iskustvo, već naprotiv, iskustvo koje stvara veće samopouzdanje i želju za ličnom promenom.
 <br> <br>
Pored edukacije iz transakcione analize tokom svog višegodinjeg rada sam se kontinuirano stručno usavršavala,
 pratila i usvajala savremena dostignuća u struci, sticala i inovirala znanja u oblasti pedagogije, psihologije,
  metodike vaspitnog rada, didaktike i psihoterapije sve u cilju sticanja kompetencija u radu sa decom i odraslima.
   Najveća satisfakcija su mi uspesi u vaspitnom radu.

        </p>


    </div>
</div>