
/* ---------------------------------= */
/* Flexslider
----------------------------------- */

/* Browser Resets
------------------*/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 


/* Necessary Styles
------------------*/
.flexslider {margin: 0; padding: 0;}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {position: relative;  zoom: 1; display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {
    width: 100%; 
    display: block;
    }
.flex-pauseplay span {text-transform: capitalize;}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flexslider {position: relative;  zoom: 1; z-index: 50;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* Default Styles
------------------*/
.flexslider {
    background: #fff;
    zoom: 1;
}

.ie7 .flexslider {margin-bottom: -30px;}

.flex-viewport {max-height: 2000px;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}


/* Direction Nav
------------------*/

.flex-direction-nav a {
    width: 80px;
    height: 80px;
    display: block;
    background-color: #000;
    bottom: 45%;
    right: 1%;
    float: none;
    position: absolute;
    cursor: pointer;
    text-indent: -9999px;
    background-color: #222;
    background: rgba(0, 0, 0, 0.65);
    *bottom: 50px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: .5;
}

.flex-direction-nav .flex-next {
    background: url(../img/ctrl-buttons.png) no-repeat -80px 0;
}

.flex-direction-nav .flex-prev {
    background: url(../img/ctrl-buttons.png) no-repeat 0 0;
    left: 1%;
}

.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover {

    opacity: 1;
}

.subpage .flex-direction-nav a {bottom: 0px; right: 0px; *bottom: 30px;}


/* Control Nav
------------------*/
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 3px 0 0;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 14px;
    height: 14px;
    display: block;
    background: #c8c8c8;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
    background: #505050;
}

.flex-control-paging li a.flex-active {
    cursor: default;
}


/* Caption
------------------*/
.slide-caption {

    padding: 10px;
    position: absolute;
    display: block;
    width: 30%;
    bottom: 1px;
    right:1px;
    background-color: #fff;
}

.slide-caption.n {background-color: #222; background: rgba(0, 0, 0, 0.6);}

.slide-caption h3 {
    color: #999;
    font-size: 16px;
    padding-bottom: 10px;
    margin:0;
    line-height: 22px;
}

.slide-caption p {
    margin:0;
    line-height: 19px;
    color: #bbb;
}

.bio-header{
    font-size: 40px;
}
.bio-content{
    text-align: justify;
    font-family: 'open-sans';
}
.bio-link{
    transition: all .2s ease-in-out;
    text-decoration: none;
    color:black;
    display: block !important;
}
.bio-link:hover{
cursor: pointer !important;
    text-decoration: none !important;
    color:black !important;
 transform: scale(1.1) !important;
}
.language-button{
cursor: pointer;
}

.social-media-icon
{
    margin-right: 5px;
    color: #3B5998 !important;
}
.social-media-text{
color:black;
margin-right: 10px;
font-size: 15px;
}

.nav-button{
    font-size: 20px !important;
}
.nav-icon{
    margin-bottom:4px;
}
.contact-header{
    margin-top: 20px;
    margin-bottom: 30px;
}
#contact-table
{
    font-size: 18px;
}
#contact-table  tr {
    border-bottom: 1px solid black !important;
    margin-bottom: 5px !important;
}
.header-style{
    font-size:45px !important;
    color:black !important;
}
.grey-color
{
    background: #e5e6e8 !important;
}
.thumbnail-pics img
{
    border-radius: 50%;
}
.thumbnail-pics img:hover
{
    opacity: 0.7;
}