
<h2>Šta je Transakciona analiza? </h2>

<p> 
     „Transakciona analiza je teorija ličnosti i sistemska psihoterapija čiji je cilj lični razvoj i promjena“ (ITAA – Međunarodno udruženje za transakcionu analizu). TA je i ovo, ali i mnogo više od toga. Od svih ostalih psiholoških pristupa, transakciona analiza se ističe po dubini teorije i širokom spektru primjene (Stewart i Joines, 2011). Osnivač i čovjek koji je zaslužan za njen razvoj je Erik Bern. 
     <br> <br>
      Kada je osnivao transakcionu analizu, insistirao je na pristupačnom i svakodnevnom jeziku kako bi transakciona analiza bila razumljiva i klijentu naklonjena. Ono što transakcionu analizu čini posebnom i drugačijom jeste upravo primjenljivost i razumljivost.
<br> <br>
Transakciona analiza na aktivan način pristupa mogućnosti lične promjene. Osoba će postići promjenu ne samo tako što će steći „uvid“ u stare obrasce ponašanja, veći tako što će odlučiti da te obrasce promjeni i potom aktivno preduzimati korake ka postizanju te promjene (Goulding i Goulding, 1979). Filozofija transakciono-analitičkog tretmana počiva na tri pretpostavke, a to su: 
<br>
1.	Ljudi su OK.<br>
2.	Svako je sposoban da misli. <br>
3.	Ljudi odlučuju o sopstvenoj sudbini, a te odluke se mogu promjeniti (Bern, 1972, prema Stewart i sur., 2011).<br> <br>
Svako u svojoj prirodi ima vrijednost i dostojanstvo i zaslužuje poštovanje. Ovo je izjava suštine, a ne izjava ponašanja. Lična odgovornost svakoga od nas je da sam odluči šta želi od života. Svaki pojedinac će na kraju živjeti sa posljedicama svojih odluka. 
<br> <br>
<strong> KAKO IZGLEDAJU SUSRETI  SA TA SAVJETNICIMA/PSIHOTERAPEUTIMA? </strong><br>
Transakciona analiza podrazumjeva aktivan pristup ličnoj promjeni. TA terapeut ne pretpostavlja da će „terapijski odnos“ sam po sebi nužno proizvesti željene promjene. Umjesto toga, on razvija analizu klijentovog problema i sklada ugovor o promjeni koju će klijent napraviti. Potom aktivno interveniše na dobro planiran i strukturiran način kako bi pomogao klijentu da postigne željenu promjenu (Stewart, 1996).
<br> <br>
 Profesionalci i stručnjaci koji primjenjuju transakcionu analizu u radu nastoje da razviju odnos sa klijentom u kojem klijent doživljava 
 terapeutovu toplinu i prihvatanje.
Polazi se od pretpostavke da će terapeut i klijent preuzeti zajedničku odgovornost za ostvarivanje one promjene koju 
klijent želi da postigne (Stewart, 1996). To slijedi iz postulata da su savjetnik i klijent u terapijskom odnosu na istom nivou, 
odnosno „Ja sam OK, ti si OK“. Savjetnikov zadatak nije da klijentu uradi neke stvari, niti klijent može očekivati da će savjetnik 
uraditi sve umjesto njega. Pošto obje strane zauzimaju podjednako važnu ulogu u procesu promjene, važno da je da oboje jasno znaju 
kako će „podijeliti“ zadatak. Stoga, sklapaju ugovor.
<br> <br>
 Erik Bern je definirao ugovor kao „eksplicitno obostrano obavezivanje na tačno definisan tok akcije“ 
 (prema Bern, 1966, Stewart, 1996). Transakciono-analitički savjetnik/terapeut posjeduje određena znanja i 
 vještine, poznaje tehnike i intervencije koje koristi kako bi se promjena i željeni cilj postigli. 
 Kada se željeni cilj postigne, savjetodavni rad na poteškoći koja  je tema rada je završen. 
 Moguće je odrediti i novi cilj, novu željenu promjenu.
<br> <br>
<strong> PRIMJENA TRANSAKCIONE ANALIZE – PRAKSA </strong>  <br>
U praktičnoj primjeni, transakciona analiza nudi sistem psihoterapije koji može da se koristi u liječenju svih tipova psiholoških
 poremećaja, od svakodnevnih životnih problema do teških psihoza (Stewart i sur., 2011). Primjenjuje se u psihosocijalnom savjetovanju, 
 psihoterapiji, edukaciji (obrazovanje, vaspitanje) i organizaciji. Transakciona analiza se koristi u svakoj oblasti gdje postoji potreba za 
 razumjevanjem pojedinaca, njihovih odnosa i komunikacije. 
Koristi se u radu sa djecom i odraslima, individualno i grupno,kao  porodična ili terapija parova. 
<br> <br>
 <strong> POVJERLJIVOST </strong><br>
Sadržaj psihoterapijskih seansi je strogo povjerljiv.<br>
Informacije o psihoterapijskom procesu klijenta dijelimo samo u posebnim okolnostima i to:<br>
o	u situaciji kada je ozbiljno ugrožena bezbjednost i/ili život klijenta ili neke druge osobe iz klijentovog okruženja;<br>
o	kada se savjetujemo sa svojim supervizorima ili drugim profesionalcima ne okrivajući identitet klijenta. 
<br><br>
Govoreći transakciono-analitičkim rječnikom, klijenta je važno sačuvati od tri tragična skripta ishoda:
 samoubistva, ubistava i gubljenja razuma (Stewart, 1996). 
<br> <br>
<strong> REFERENCE I PREPORUKE ZA ČITANJE O TA: </strong> <br>
Stewart, I., Joines, V. (2011). Savremena transakciona analiza. Psihopolis institut.<br>
Stewart, I. (1996). Vještina savjetovanja u transakcionoj analizi. Psihopolis institut. <br>
Goulding M. M., Goulding R. L. (1979). Promjeniti život. Psihopolis institut. <br>

    </p>    