<h2> Ko smo mi? </h2>

<p>
 „Eureka“ ima za cilj promovisati savjetodavni rad, ukazati na njegov značaj i povećati svijest ljudi u našoj sredini o važnosti ljudskog rasta i razvoja. 
 <br> <br>
 Članovi „Eureke“ su psiholozi i edukanti druge godine naprednog treninga, Praktičari TA u edukaciji za savjetnike pod supervizijom transakcione analize u Sarajevu.
 <br>
  Edukaciju transakcione analize u Sarajevu održavaju obučeni profesionalci Psihopolis Instituta - Novi Sad koji ujedno i superviziraju rad članova „Eureke“.
</p>