<h2> Ko smo mi? </h2>
<p>
„Eureka“  ima za cilj  povećati svijest ljudi u našoj sredini o značaju ljudskog rasta i razvoja , te promovisati savjetodavni i psihoterapijski rad. 
<br> <br>
 Članovi “Eureke“  su psiholozi koji su i edukanti transakcione analize. TA Trening održava PSIHOPOLIS Institut , Novi Sad 
  a susreti grupe su u Sarajevu. <br>
  Edukacija za transakciono-analitičkog psihoterapeuta traje najmanje pet godina. <br>
Članovi smo i udruženja transakicone analize u BiH – BIHOTA koja okuplja profesionalce iz oblasti  transakcione analize.

</p>