<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <img src="assets/img/personal-images/jasmina.png" class="img-thumbnail" alt="Thumbnail Image" />
        <br>
        <br>
        <br>
        
<p>
    Tel: +387 63 382 397 <br>
Email: jasmina.eureka@gmail.com
</p>

    </div>
    <div class="col-lg-8">
        <p class="bio-header">
            Jasmina Mihojević
            </p>
        <p class="bio-content">
    <strong>    diplomirana psihologinja, tehničarka za Neurofeedback u Klub La Vie, Praktičar TA u edukaciji za Savjetnika TA pod supervizijom </strong> <br>

<br>
<strong> Način rada, vrijeme i mjesto rada: Susreti uživo i online savjetovanje preko Skype-a </strong> <br>
<br>
<strong> Moj pogled na pristup pomoći i podrške kroz TA </strong> <br>
,,Nova odluka je početak. Nema magije. Osoba otkriva svoju sposobnost da bude autonomna i doživi novo, slobodno ja (self) sa entuzijazmom,
 uzbuđenjem i energijom. Odlazi u svoj svijet da vježba promjenu, a vježba je kontinuirani proces. Gleda na svijet kroz drugačije naočale,
  drugim očima, ne bojeći svijet blatom i ne prljajući ga, već videći jasnije, oštrije, kao kada kiša spere smog“. U ovom citatu knjige, 
  "Promijeniti život“ (M. McClure Goulding & R. L. Goulding) je satkan moj stav spram savjetodavnog i terapijskog odnosa. 
  Odluka je ta koja će nas podstaći na promjenu u našem životu, na investiranje vremena u sebe i postavljanje ciljeva kojima možemo
   steći kontrolu nad vlastitim životom. Kao empatična osoba razumijem da proces ulaska u savjetodavni odnos i proces promjene može biti težak, 
   no može biti i od velike pomoći i korak naprijed ka stvaranju zadovoljnijeg i ispunjenijeg života. U savjetodavnom procesu nastojat ću vam pomoći 
   da steknete uvid u sebe, svoje obrasce ponašanja, svoje snage, te da uvidite vrijednost koju ovaj odnos može imati na vašem putu ka osnaživanju
    sebe i postajanjem autonomne osobe. 
<br>
<br>
<strong> Obrazovanje </strong> <br>
• Magistar psihologije, Univerzitet u Sarajevu (2014) <br>
• Praktičar transakcione analize, International Transactional analysis academy (2017) <br>
<br>
<strong> Radno iskustvo </strong> <br>
• 2017.- trenutno Klub La Vie; tehničar za Neurofeedback <br>
• 2017.- trenutno Udruženje mladih NAUTILUS; sudjelovanje i pružanje podrške u aktivnostima unapređenja brige 
i uslova za djecu i mlade bez roditeljskog staranja <br>
• 2016.-2016. Studentska praksa, Osnovna škola Musa Ćazim Ćatić; predstavljanje i primjena upitnika o 
vršnjačkom zlostavljanju među učenicima, održavanje radionica s ciljem upoznavanja djece s pojomom nasilnog ponašanja 
i povezanosti emocija s vrstama nasilnog ponašanja, formiranje pravila protiv nasilja u odjeljenjiima, razvijanje empatije kod učenika <br>
• 2012.-2014. NARKO NE, projekt Stariji brat/Starija sestra; pružanje podrške jednom djetetu u stjecanju socijalnih vještina, razvoj 
kompetencija za rad s djecom u riziku <br>

    </div>
</div>