<h2> Usluge savjetovališta</h2>

Naš tim nudi usluge psihološke podrške i savjetovanja mladima i odraslima. <br> <br>

Članovi tima, čije kontakt informacije možete pronaći na našoj stranici, rade na području Bosne i Hercegovine i šire.
 Ukoliko ne postoji mogućnost direktnog rada sa nekim od članova tima, nudimo mogućnost online psihološkog savjetovanja.
  Tokom prvog susreta klijent sa terapeutom dogovara način i dinamiku rada.
Savjetovanje zasnovano na TA principima efikasan je i efektivan oblik pomoći unutar širokog spektra osobnih,
 akademskih i poslovnih/profesionalnih poteškoća koje se mogu pojaviti tokom života, studija i radnog odnosa. 
 Kroz savjetodavni rad Vam možemo pomoći ukoliko imate neke od sljedećih poteškoća:

<br>
• sniženo raspoloženje i obeshrabrenost <br>
• neželjene navike i ponašanja<br>
• osjećaj neuspjeha i bespomoćnosti<br>
• poteškoće u razumijevanju svojih misli, osjećaja i ponašanja<br>
• donošenje (teških) odluka<br>
• neuspješna kontrola brige unutar različitih područja funkcionisanja<br>
• neuspješno suočavanje sa stresom<br>
• osjećaj uznemirnosti i česte promjene raspoloženja <br>
• prisustvo straha (problem u relaciji sa autoritetom, tremom od javnog nastupa)<br>
• anksioznost uoči ispita (ispitna anksioznost)<br>
• nedostatkom motivacije i poteškoćama sa učenjem<br>
• nezadovoljstvo sobom ili svojim izgledom<br>
• nesigurnost u vlastite kapacitete i mogućnosti<br>
• nedostatkom samopouzdanja i samopoštovanja<br>
• izražena samokritičnost<br> <br>

Razlozi javljanja mogu biti i: <br>
• osjećaj nelagode prilikom stupanja u socijalne kontakte <br>
• poteškoće funkcionisanja u odnosima sa drugima (partneri, prijatelji, roditelji)<br>
• poteškoće prilikom separacije (razvod braka, prekid veze, prekid prijateljstva)<br>
• stres na poslu<br>
• upravljanje simptomima profesionalnog sagorijevanja <br>
• poteškoće uklapanja u novu sredinu (promjenom mjesta prebivališta ili sredine)<br>
• prilagođavanje novonastaloj životnoj situaciji (npr. promjene poslovnog okruženja, studija ili druge vrste promjena)<br> <br>

Sa odraslima koji su u radnom odnosu savjetodavni rad pomaže ukoliko zbog radnog odnosa osjećaju 
simptome profesionalnog sagorjevanja (burnouta), odnosno:  <br>
• hronični umor i iscrpljenost, <br>
• česte glavobolje (ukoliko ne postoji fiziološki uzrok),  <br>
• poremećaj spavanja i hranjenja,  <br>
• osjećaj neuspjeha i bespomoćnosti,  <br>
• gubitak motivacije,  <br>
• smanjeno zadovoljstvo i osjećaj za postignuće,  <br>
• izbjegavanje odgovornosti,  <br>
• te problemi prilagodbe na poslovno okruženje. <br>
