<br>
<br>
<br>

<div class="row">
    <div class="col-lg-4">
        <img src="assets/img/personal-images/klaudija.png" class="img-thumbnail" alt="Thumbnail Image" />
        <br>
        <br>
        <br>
        
<p>
    Tel: +387 63 556 781 <br>
    Skype: klaudija.ribic <br>
Email: klaudija.eureka@gmail.com 
</p>

    </div>
    <div class="col-lg-8">
        <p class="bio-header">
            Klaudija Ribić
            </p>
        <p class="bio-content">
    <strong>Psiholog, Didaktički analitičar TA pod supervizijom za savjetnika</strong> <br>

<strong> Način rada, vrijeme i mjesto rada: Susreti uživo i online savjetovanje preko Skypea </strong> <br> <br>
<strong> Moj pogled na pristup pomoći i podrške kroz TA </strong> <br>
Kroz svoj dosadašnji rad najviše sam se susretala s osobama koje zbog neadekvatnih načina suočavanja s 
poteškoćama odustaju od ostvarenja svojih želja, propuštaju razvoj potencijala te uče preživljavati s 
problemima umjesto da ih otklanjaju. Takav odnos prema poteškoćama koje se javljaju, nerijetko vodi do 
još većih poteškoća, nezadovoljstva, gubitka motivacije i raznih oboljenja. Savjetovanje u transakcionoj
 analizi pruža mogućnost pojedincu da u potpunosti razvije svoje potencijale, preuzme kontrolu nad svojim 
 životom i postane bolja verzija sebe. U transakcionoj analizi važan je odnos povjerenja između klijenta i 
 terapeuta i nakon što se takav odnos uspostavi započinje proces promjene na kojem zajedno rade i klijent i terapeut. 
 <br>
 Moje dosadašnje iskustvo u savjetodavnom radu najviše ukjučuje rad na poteškoćama s kojima se susreću adolescenti i mlađe odrasle osobe. 
 <br> <br>

 <strong> Obrazovanje: </strong> <br>
• Psiholog, Univerzitet u Sarajevu, Filozofski fakultet, Odsjek za psihologiju (2006.- 2012.) <br>
• Didaktički analitičar TA pod supervizijom za savjetnika, International Transactional analysis academy (2017 - trenutno) <br>
<strong> Radno iskustvo: </strong>  <br>
• 2013. - trenutno, Katolički školski centar „Petar Barbarić“ Travnik <br>
Školski psiholog, individualni i grupni savjetodavni rad s učenicima i roditeljima, održavanje radionica, te sudjelovanje u izgradnji i provedbi nastavnog procesa.  <br>
• 2013. - trenutno, Srednja škola „Novi Travnik“  <br>
Predavač psihološke skupine predmeta <br>
• 2014. – trenutno, Srednja škola „Uskoplje“ <br>
Predavač psihološke skupine predmeta <br>
<strong> Seminari i edukacije:</strong>  <br>
• "(R) edukcija homofobije i transfobije: Inkluzija i senzibilizacija u radu s LGBT učenicima_ma", Sarajevski otvoreni centar , 2013.<br>
• „YE 8th Intelligences 2“, Youth in Action Programme, Macedonia, 2014.<br>
• „Learning Pathways to social cohesion“, 1 st EUSDR Youth Platform, Austria, 2014.<br>
• “Rad s djecom sa problemima u doživljavanju i ponašanju” Naklada slap, Sarajevo, 2015. <br>
• „Samopovređivanje adolescenata – praktične smjernice za procjenu i terapeutski rad“ , TIM centar, Novi Sad, 2017.<br>



        </p>
    </div>
</div>